[submodule "src/busybox"]
	path = src/busybox
	url = git://busybox.net/busybox.git
    branch = 1_28_stable
    shallow = true
[submodule "src/linux"]
	path = src/linux
	url = git@github.com:ckolivas/linux.git
    branch = 4.14-ck1
    shallow = true
[submodule "src/docker"]
	path = src/docker
	url = git@github.com:docker/docker-ce.git
    branch = v17.12.0-ce
